@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import './variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &:focus,
    &:active {
        outline: none;
        box-shadow: none;
    }
}

html, body {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: $color-text;
    background-color: $color-background;

    input, 
    textarea,
    button {
        font-family: 'Roboto', sans-serif;
    }
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}